<div class="container-fluid col-xxl-8 px-4 py-1 background">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-7">
        <img src="./assets/images/hero-img.jpg" class="d-block mx-lg-auto img-fluid border" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-5">
        <h1 class="display-5 fw-bold lh-1 mb-3 font">Make Your Car <br> <span class="gradient-text">SHINE.</span></h1>
        <p class="lead">High-quality hand wash, affordable prices.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-grad" [routerLink]="['/signup']">Register</button>
          <button type="button" class="btn  btn-grad2" [routerLink]="['/packages']">Explore Packages</button>
        </div>
      </div>
    </div>
  </div>
  <!-- features -->

    <div class="container text-center pt-5">
       <div class="section-title centered ">
          <h3 class="title fs-1">Our <span>Services</span></h3>
          <p class="fs-3">Professional washing and cleaning of your car</p>
       </div>
       <div class="row fs-5 pt-5">
          <div class="col-lg-4 col-md-6 border" style="background-color: rgb(245, 204, 234);">
             <div class="sigma_info style-10">
                <div class="sigma_info-title">
                   <span class="sigma_info-icon bg-primary-1 text-white">
                   <i class="flaticon-cleaner"></i>
                   </span>
                </div>
                <div class="sigma_info-description">
                   <h5 class="fs-6" >Professional Washing
                   </h5>
                   <p> Proffessional washing at your door.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 border" style="background-color: rgb(227, 246, 232);">
             <div class="sigma_info style-10">
                <div class="sigma_info-title">
                   <span class="sigma_info-icon bg-primary-1 text-white">
                   <i class="flaticon-car-repair"></i>
                   </span>
                </div>
                <div class="sigma_info-description">
                   <h5 class="fs-6" >
                   Safety Materials
                   </h5>
                   <p> Our washers use safe materials </p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 border" style="background-color: rgb(247, 211, 189);">
             <div class="sigma_info style-10">
                <div class="sigma_info-title">
                   <span class="sigma_info-icon bg-primary-1 text-white">
                   <i class="flaticon-24-hours-support"></i>
                   </span>
                </div>
                <div class="sigma_info-description">
                   <h5 class="fs-6" >
                      Modern Equipment
                   </h5>
                   <p> We use industry standard Equipments</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 border" style="background-color: rgb(241, 247, 189);">
             <div class="sigma_info style-10">
                <div class="sigma_info-title">
                   <span class="sigma_info-icon bg-primary-1 text-white">
                   <i class="flaticon-award-1"></i>
                   </span>
                </div>
                <div class="sigma_info-description">
                   <h5 class="fs-6" >
                      Caring Service
                   </h5>
                   <p> Proffessional washing at your door.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 border" style="background-color: rgb(189, 196, 247);">
             <div class="sigma_info style-10">
                <div class="sigma_info-title">
                   <span class="sigma_info-icon bg-primary-1 text-white">
                   <i class="flaticon-car-service"></i>
                   </span>
                </div>
                <div class="sigma_info-description">
                   <h5 class="fs-6 " >
                   Proper Cleaning
                   </h5>
                   <p> Proffessional washing at your door.</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 border" style="background-color: rgb(189, 247, 211);">
             <div class="sigma_info style-10">
                <div class="sigma_info-title">
                   <span class="sigma_info-icon bg-primary-1 text-white">
                   <i class="flaticon-car-service-2"></i>
                   </span>
                </div>
                <div class="sigma_info-description">
                   <h5 class="fs-6" >
                   Oil Change
                   </h5>
                   <p> Proffessional washing at your door.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
  
    