.back{
    background-color: rgba(253, 251, 251, 0.584);
    border-radius: 5px;
}

.title{
    color:rgb(243, 58, 30)
}

.cb{
    background-color: rgb(239, 224, 224);
    border-radius: 5px; 
}
.cb2{
    background-color: rgb(227, 245, 223);
    border-radius: 5px; 
}